@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.btn {
  background-color: #250c77;
  width: 100%;
  border-radius: 8px;
  height: 3rem;
}
.btn:hover {
  background-color: #1e085f; /* Change background color on hover */
}
@media (min-width: 640px) {
  .navbar {
    height: 3rem;
  }
}
.hidescroll::-webkit-scrollbar {
  display: none;
}

.sidebar-container {
  overflow: hidden;
  transition: width 0.5s ease-in-out;
  width: 0;
}

.sidebar-container.show {
  width: 23rem; /* Adjust the width according to your sidebar content */
}

.form__btn {
  width: 10rem;
  height: 3.5rem;
  border: 3px solid white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: #1e085f;
  border-radius: 40px;

  transition: all ease 0.5s;
}

.form__btn:hover {
  background-color: #2d0e7b;
  border-color: #fff;
  transform: scale(1.1);
}

.profile__btn {
  width: 8rem;
  height: 3rem;
  background-color: #250c77;
  border-radius: 8px;
  color: white;
  transition: all ease 0.5s;
}
.profile__btn:hover {
  background-color: #2d0e7b;
  transform: scale(1.1);
}
